@model Microservice.Models.PlageHoraire

@{
    ViewData["Title"] = "Prendre rendez-vous";
}

<h1>Prendre rendez-vous</h1>

<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeureDebut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeureDebut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeureTer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeureTer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.NomComplet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActeMedical)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActeMedical.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialite.Nom)
        </dd>
    </dl>
</div>

<div>
    <form asp-action="Create">
        <input type="hidden" name="PatientId" id="PatientId" value="@Context.Session.GetString("_Id")" />
        <input type="hidden" name="PlageHoraireId" id="PlageHoraireId" value="@Model.Id" />
        <input class="btn btn-success" type="submit" value="Confirmer" />
        <a class="btn btn-primary" asp-action="Index">Retour a la Liste</a>
        <a class="btn btn-info" href='javascript:history.go(-1)'>Retour a la recherche</a>
    </form>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
