@model Microservice.Models.PlageHoraire

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plage horaire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureTer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureTer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActeMedical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActeMedical.Libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialite.Nom)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a class="btn btn-success" asp-action="Index">Retour a la liste</a>
</div>
