@model Microservice.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenPat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenPat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatNaisPat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatNaisPat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexPat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexPat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhonePat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhonePat)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a class="btn btn-primary" asp-action="Index">Retour a la liste</a>
</div>
