@model IEnumerable<Microservice.Models.Patient>

@{
    ViewData["Title"] = "Patients";
}

<h1>Patients</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Creer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomPat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenPat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomPat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenPat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
